@charset "UTF-8";
@font-face {
  font-family: "Inter";
  src: url(/fonts/Inter18pt-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url(/fonts/Inter18pt-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none],
[fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --color-light: #FFFFFF;
  --color-ligth-dark: #EEEEEE;
  --color-dark: #000000;
  --color-grey: #888888;
  --transition-duration: 0.2s;
}

.header-div {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-inline: 94px;
  padding-block: 35px;
  border-bottom: 2px solid var(--color-grey);
}
.header-div .header-henrik {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
.header-div .header-henrik .svg-henrik {
  width: 25px;
  height: 28px;
}
.header-div .header-henrik .header-desc {
  font-size: 19px;
  line-height: 1.5;
  text-transform: uppercase;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
}
.header-div .header-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}
.header-div .header-list .header-link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.7;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-dark);
}
.header-div .header-list .header-link.is-current {
  border-bottom: 1.5px solid var(--color-dark);
}
.header-div .header-list .header-link:hover {
  color: var(--color-grey);
  transition-duration: var(--transition-duration);
}
.header-div .link-info {
  text-decoration: none;
  color: var(--color-dark);
}
.header-div .link-info:hover {
  color: var(--color-grey);
  transition-duration: var(--transition-duration);
}
.header-div .header-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
.header-div .header-info .header-desc {
  font-size: 19px;
  line-height: 1.5;
  text-transform: uppercase;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
}
.header-div .header-info .svg-info {
  width: 26px;
  aspect-ratio: 1;
}

.john-div {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-inline: 94px;
  margin-top: 49px;
  padding-bottom: 49px;
  border-bottom: 2px solid var(--color-grey);
}
.john-div .div-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.john-div .div-block-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.john-div .div-block-1 .john-desc {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 1;
}
.john-div .div-block-1 .john-button-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 11px;
  text-transform: uppercase;
  width: 39px;
  height: 20px;
  background-color: transparent;
  border-radius: 55px;
  border: 1px solid var(--color-dark);
}
.john-div .div-block-1 .john-button-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 11px;
  text-transform: uppercase;
  width: 39px;
  height: 20px;
  background-color: transparent;
  border-radius: 55px;
  border: 1px solid var(--color-dark);
  width: 74px;
}
.john-div .div-block-1 .john-button-1:hover {
  color: var(--color-light);
  background-color: var(--color-grey);
  border: none;
  transition-duration: var(--transition-duration);
}
.john-div .div-block-1 .john-button-2:hover {
  color: var(--color-light);
  background-color: var(--color-grey);
  border: none;
  transition-duration: var(--transition-duration);
}
.john-div .john-title {
  margin-top: 11px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 77px;
  line-height: 1.1;
  text-transform: uppercase;
  border-bottom: 1.5px solid var(--color-grey);
}
.john-div .john-description {
  margin-top: 291px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.3;
}

.latest .latest-post {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-inline: 94px;
}
.latest .latest-post .svg-latest {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 100px;
}
.latest .latest-post .svg-latest .svg-info {
  width: 17px;
  aspect-ratio: 1;
}
.latest .latest-post .svg-latest .latest-desc {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 1;
  text-transform: uppercase;
}
.latest .latest-post .latest-link {
  color: var(--color-dark);
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 1;
  text-transform: uppercase;
  padding-bottom: 2px;
  border-bottom: 1px solid;
}
.latest .latest-post .latest-link:hover {
  color: var(--color-grey);
  transition-duration: var(--transition-duration);
}
.latest .filter {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-inline: 94px;
  margin-top: 37px;
}
.latest .filter .filter-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.latest .filter .filter-1 .filter-1-p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 1;
  text-transform: uppercase;
}
.latest .filter .filter-1 .button-f-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 11px;
  text-transform: uppercase;
  width: 39px;
  height: 20px;
  background-color: transparent;
  border-radius: 55px;
  border: 1px solid var(--color-dark);
  color: var(--color-light);
  background-color: var(--color-dark);
}
.latest .filter .filter-1 .button-f-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 11px;
  text-transform: uppercase;
  width: 39px;
  height: 20px;
  background-color: transparent;
  border-radius: 55px;
  border: 1px solid var(--color-dark);
  width: 62px;
}
.latest .filter .filter-1 .button-f-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 11px;
  text-transform: uppercase;
  width: 39px;
  height: 20px;
  background-color: transparent;
  border-radius: 55px;
  border: 1px solid var(--color-dark);
  width: 55px;
}
.latest .filter .filter-1 .button-f-1:hover {
  background-color: var(--color-grey);
  border: none;
  transition-duration: var(--transition-duration);
}
.latest .filter .filter-1 .button-f-2:hover {
  color: var(--color-light);
  background-color: var(--color-grey);
  border: none;
  transition-duration: var(--transition-duration);
}
.latest .filter .filter-1 .button-f-3:hover {
  color: var(--color-light);
  background-color: var(--color-grey);
  border: none;
  transition-duration: var(--transition-duration);
}
.latest .filter-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.latest .filter-2 .filter-2-p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 1;
  text-transform: uppercase;
}
.latest .filter-2 .filter-2-p .filter-b {
  border-bottom: 1px solid;
}
.latest .filter-2 .button-f-4 {
  background-color: transparent;
  border: none;
}
.latest .filter-2 .button-f-4 .svg-button {
  width: 15px;
  height: 8px;
}
.latest .filter-2 .button-f-4 .svg-button:hover {
  color: var(--color-light);
  transition-duration: var(--transition-duration);
}
.latest .filter-2 .button-f-4:hover {
  background-color: var(--color-grey);
  transition-duration: var(--transition-duration);
  border-radius: 50%;
}
.latest .block-latest {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-inline: 94px;
  margin-top: 39px;
  column-gap: 40px;
  padding-bottom: 122px;
  border-bottom: 1px solid;
}
.latest .block-latest .block-1 {
  width: 845px;
}
.latest .block-button {
  margin-top: 27px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.latest .block-button .block-p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 1;
  text-transform: uppercase;
}
.latest .block-button .block-b {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 11px;
  text-transform: uppercase;
  width: 39px;
  height: 20px;
  background-color: transparent;
  border-radius: 55px;
  border: 1px solid var(--color-dark);
  width: 60px;
}
.latest .block-button .block-b:hover {
  color: var(--color-light);
  background-color: var(--color-grey);
  border: none;
  transition-duration: var(--transition-duration);
}
.latest .block-1-h2 {
  margin-top: 9px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 37px;
  line-height: 1.2;
  text-transform: uppercase;
  border-bottom: 1px solid;
}
.latest .block-h2 {
  margin-top: 9px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.3;
  text-transform: uppercase;
  border-bottom: 1px solid;
  text-align: left;
}
.latest .block-icard {
  margin-top: 80px;
}
.latest .block-2icard {
  margin-top: 65px;
}

.popular .popular-div {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-left: 94px;
  margin-right: 440px;
  margin-top: 113px;
}
.popular .popular-div .pop-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.popular .popular-div .pop-svg-1 {
  width: 18px;
  height: 19px;
}
.popular .popular-div .pop-svg-2 {
  width: 16px;
  height: 19px;
}
.popular .popular-div .pop-p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 1;
  text-transform: uppercase;
}
.popular .popular-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 94px;
  margin-top: 37px;
  column-gap: 40px;
  margin-bottom: 140px;
}
.popular .popular-block .block-button {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  margin-top: 24px;
}
.popular .popular-block .block-p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 1;
  text-transform: uppercase;
}
.popular .popular-block .block-b {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 11px;
  text-transform: uppercase;
  width: 39px;
  height: 20px;
  background-color: transparent;
  border-radius: 55px;
  border: 1px solid var(--color-dark);
  width: 56px;
}
.popular .popular-block .block-1-h2 {
  margin-top: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 37px;
  line-height: 1.2;
  text-transform: uppercase;
  border-bottom: 1px solid;
}
.popular .popular-block .pop-img {
  width: 630px;
  height: 470px;
}
.popular .popular-block .block-b:hover {
  color: var(--color-light);
  background-color: var(--color-grey);
  border: none;
  transition-duration: var(--transition-duration);
}
.popular .pop-card {
  margin-top: 37px;
}
.popular .pop-h2 {
  width: 236px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.3;
  text-transform: uppercase;
  border-bottom: 1px solid;
  margin-top: 5px;
}

.jenny {
  background: url(/images/jenny-img.png) center/cover no-repeat;
}
.jenny .jenny-block {
  padding-top: 51px;
  margin-left: 74px;
  padding-bottom: 46px;
}
.jenny .jenny-block .jenny-block-button {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.jenny .jenny-block .jenny-desc {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 1;
  text-transform: uppercase;
}
.jenny .jenny-block .jenny-b {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 11px;
  text-transform: uppercase;
  width: 39px;
  height: 20px;
  background-color: transparent;
  border-radius: 55px;
  border: 1px solid var(--color-dark);
  width: 66px;
}
.jenny .jenny-block .jenny-b:hover {
  color: var(--color-light);
  background-color: var(--color-grey);
  border: none;
  transition-duration: var(--transition-duration);
}
.jenny .jenny-block .jenny-title {
  width: 516px;
  margin-top: 11px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 77px;
  line-height: 1.1;
  text-transform: uppercase;
  border-bottom: 1px solid;
}
.jenny .jenny-block .jenny-dsecription {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.3;
  margin-top: 351px;
}

.stuff .stuff-div {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 145px;
  margin-inline: 94px;
}
.stuff .stuff-div .stuff-div-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.stuff .stuff-div .stuff-div-button .stuff-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
}
@keyframes rotate {
  50% {
    rotate: 180deg;
  }
}
.stuff .stuff-div .stuff-div-button .stuff-svg {
  width: 19px;
  aspect-ratio: 1;
}
.stuff .stuff-div .stuff-div-button .stuff-svg:hover {
  animation: rotate 2s;
  transition-duration: var(--transition-duration);
  color: var(--color-grey);
}
.stuff .stuff-div .stuff-desc {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 1x;
  text-transform: uppercase;
}
.stuff .stuff-div .stuff-link {
  color: var(--color-dark);
  padding-bottom: 2px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px solid;
}
.stuff .stuff-div .stuff-link:hover {
  color: var(--color-grey);
  transition-duration: var(--transition-duration);
}
.stuff .stuff-block {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 37px;
  margin-inline: 104px;
}
.stuff .stuff-block .stuff-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.stuff .stuff-block .stuff-card .desc-block {
  margin-top: 23px;
  width: 222px;
}
.stuff .stuff-block .stuff-card .stuff-button-block {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 11px;
  text-transform: uppercase;
  width: 39px;
  height: 20px;
  background-color: transparent;
  border-radius: 55px;
  border: 1px solid var(--color-dark);
  width: 66px;
}
.stuff .stuff-block .stuff-card .stuff-button-block:hover {
  color: var(--color-light);
  background-color: var(--color-grey);
  border: none;
  transition-duration: var(--transition-duration);
}
.stuff .stuff-block .stuff-description {
  margin-top: 17px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 1.3;
  text-transform: uppercase;
  border-bottom: 1px solid;
}
.stuff .stuff-title {
  margin-top: 125px;
  margin-inline: 94px;
  padding-block: 32px;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 100px;
  line-height: 1;
  text-transform: uppercase;
  border-block: 2px solid;
}

.footer .footer-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 180px;
}
.footer .footer-block .footer-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  padding-bottom: 35px;
  padding-inline: 42px;
  border-bottom: 1px solid;
}
.footer .footer-block .footer-list .footer-link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.7;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-dark);
}
.footer .footer-block .footer-list .footer-link:hover {
  color: var(--color-grey);
  transition-duration: var(--transition-duration);
}
.footer .footer-contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.footer .footer-contacts .contact-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.footer .footer-contacts .contact-list .contact-link {
  color: var(--color-dark);
  padding: 10px;
}
.footer .footer-contacts .contact-list .svg-footer {
  width: 17px;
  aspect-ratio: 1;
}
.footer .footer-contacts .contact-list .contact-link:hover {
  color: var(--color-grey);
  transition-duration: var(--transition-duration);
}
.footer .footer-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 55px;
  gap: 5px;
  padding-bottom: 48px;
}
.footer .footer-cont .footer-desc {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 1;
  text-transform: uppercase;
  color: var(--color-grey);
}
.footer .footer-cont .footer-link-cont {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 1;
  text-transform: uppercase;
  color: var(--color-dark);
}
.footer .footer-cont .footer-link-cont:hover {
  color: var(--color-grey);
  transition-duration: var(--transition-duration);
}

@media (max-width: 1600px) {
  .john-div .john-title {
    font-size: 4vw;
  }
  .latest .block-latest .block-1 {
    width: 44vw;
  }
  .popular .popular-block .pop-img {
    width: auto;
    height: auto;
  }
  .latest .block-h2 {
    font-size: 1.5vw;
  }
  .stuff .stuff-title {
    font-size: 5.2vw;
  }
}
@media (max-width: 1376px) {
  .header-img {
    width: 30vw;
  }
  .john-div .john-description {
    margin-top: 33vh;
  }
  .popular .popular-div {
    margin-right: 20.5vw;
  }
  .stuff .stuff-block {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1000px) {
  .header-div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
  }
  .john-div {
    flex-direction: column;
    row-gap: 20px;
  }
  .latest .block-latest {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
  }
  .popular .popular-block {
    grid-template-columns: repeat(2, 1fr);
    margin-inline: 94px;
    row-gap: 20px;
  }
  .popular .popular-block .block-1-h2 {
    font-size: 2.5vw;
  }
  .pop-trends {
    display: block;
  }
  .popular .popular-div {
    margin-left: 0px;
    margin-right: 0px;
    margin-inline: 94px;
  }
  .popular .pop-h2 {
    width: auto;
  }
  .stuff .stuff-block {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
  }
  .latest .block-h2 {
    font-size: 1.9vw;
  }
  .latest .block-1-h2 {
    font-size: 25px;
  }
}
@media (max-width: 748px) {
  .john-div .john-title {
    font-size: 8vw;
  }
  .header-div .header-list {
    flex-direction: column;
  }
  .john-div {
    justify-content: center;
    align-items: center;
  }
  .john-div .div-block {
    align-items: center;
  }
  .latest .filter {
    flex-direction: column;
  }
  .latest .block-latest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .popular .popular-block {
    grid-template-columns: 1fr;
  }
  .stuff .stuff-block {
    grid-template-columns: 1fr;
  }
  .jenny .jenny-block .jenny-title {
    width: 60vw;
    font-size: 60px;
  }
  .header-img {
    width: 60vw;
  }
}
@media (max-width: 500px) {
  .latest .latest-post {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .latest .block-h2 {
    font-size: 2.9vw;
  }
  .footer .footer-block .footer-list {
    flex-direction: column;
  }
  .footer .footer-block {
    margin-top: 80px;
  }
  .popular .popular-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    row-gap: 10px;
  }
  .stuff .stuff-div {
    flex-direction: column;
    align-items: start;
    row-gap: 10px;
  }
  .latest .block-latest .block-1 {
    width: 54vw;
  }
  .jenny .jenny-block .jenny-title {
    font-size: 40px;
  }
  .stuff .stuff-block {
    margin-inline: 0px;
  }
}
@media (max-width: 350px) {
  .latest .block-latest .block-1 {
    width: 74vw;
  }
  .jenny .jenny-block {
    margin-left: 34px;
  }
  .latest .filter {
    margin-inline: 34px;
  }
  .latest .latest-post {
    margin-inline: 34px;
  }
  .latest .block-latest .block-2 {
    width: 74vw;
  }
  .latest .block-latest .block-3 {
    width: 74vw;
  }
  .popular .popular-div {
    margin-inline: 34px;
  }
  .popular .popular-block {
    margin-inline: 34px;
  }
  .john-div .john-description {
    margin-top: 13vh;
  }
  .latest .block-h2 {
    font-size: 5.8vw;
  }
  .popular .popular-block .block-1-h2 {
    font-size: 5.5vw;
  }
}

/*# sourceMappingURL=styles.css.map */
