@import 
 "fontsface",
 "normalize",
 "variables",
 "globals",
 "mixins";

 .header-div {
    @include flex-space-betwen;
    margin-inline: 94px;
    padding-block: 35px;
    border-bottom: 2px solid var(--color-grey);

    .header-henrik {
        @include flex-center;
        gap: 7px;

        .svg-henrik {
            width: 25px;
            height: 28px;
        }

        .header-desc {
            font-size: 19px;
            line-height: 1.5;
            text-transform: uppercase;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
        }
    }

    .header-list {
        @include flex-center;
        gap: 35px;

        .header-link {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 1.7;
            text-transform: uppercase;
            text-decoration: none;
            color: var(--color-dark);
        }

        .header-link.is-current {
            border-bottom: 1.5px solid var(--color-dark);
        }

        .header-link:hover {
            color: var(--color-grey);
            transition-duration: var(--transition-duration);
        }
    }

    .link-info {
        text-decoration: none;
        color: var(--color-dark)
    }
    .link-info:hover {
        color: var(--color-grey);
        transition-duration: var(--transition-duration);
    }

    .header-info {
        @include flex-center;
        gap: 7px;

        .header-desc {
            font-size: 19px;
            line-height: 1.5;
            text-transform: uppercase;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
        }

        .svg-info {
            width: 26px;
            aspect-ratio: 1;
        }
    }
 }

 .john-div {
    @include flex-space-betwen;
    margin-inline: 94px;
    margin-top: 49px;
    padding-bottom: 49px;
    border-bottom: 2px solid var(--color-grey);

    .div-block {
        @include flex-direction;
    }

    .div-block-1 {
        @include flex-center;
        gap: 10px;

        .john-desc {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 11px;
            line-height: 1;
        }

        .john-button-1 {
            @include button;
        }
        .john-button-2 {
            @include button;
            width: 74px;
        }

        .john-button-1:hover {
            @include button-hover;
        }
        .john-button-2:hover {
            @include button-hover;
        }
    }

    .john-title {
        margin-top: 11px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 77px;
        line-height: 1.1;
        text-transform: uppercase;
        border-bottom: 1.5px solid var(--color-grey);
    }

    .john-description {
        margin-top: 291px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 1.3;
    }
 }

 .latest {
    .latest-post {
        @include flex-end-space-between;
        margin-inline: 94px;

        .svg-latest {
            @include flex-center;
            gap: 8px;
            margin-top: 100px;

            .svg-info {
                width: 17px;
                aspect-ratio: 1;
            }

            .latest-desc {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 19px;
                line-height: 1;
                text-transform: uppercase;
            }
        }

        .latest-link {
            color: var(--color-dark);
            text-decoration: none;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 19px;
            line-height: 1;
            text-transform: uppercase;
            padding-bottom: 2px;
            border-bottom: 1px solid;
        }

        .latest-link:hover {
            color: var(--color-grey);
            transition-duration: var(--transition-duration);
        }
    }

    .filter {
        @include flex-space-betwen;
        margin-inline: 94px;
        margin-top: 37px;

        .filter-1 {
            @include flex-center;
            gap: 10px;

            .filter-1-p {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 11px;
                line-height: 1;
                text-transform: uppercase;
            }

            .button-f-1 {
                @include button;
                color: var(--color-light);
                background-color: var(--color-dark)
            }
            .button-f-2 {
                @include button;
                width: 62px;
            }
            .button-f-3 {
                @include button;
                width: 55px;
            }

            .button-f-1:hover {
                background-color: var(--color-grey);
                border: none;
                transition-duration: var(--transition-duration);
            }

            .button-f-2:hover {
                @include button-hover;
            }
            .button-f-3:hover {
                @include button-hover;
            }
        }
    }

    .filter-2 {
        @include flex-center;
        gap: 10px;

        .filter-2-p {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 11px;
            line-height: 1;
            text-transform: uppercase;

            .filter-b {
                border-bottom: 1px solid;
            }
        }

        .button-f-4 {
            background-color: transparent;
            border: none;

            .svg-button {
                width: 15px;
                height: 8px;
            }

            .svg-button:hover {
                color: var(--color-light);
                transition-duration: var(--transition-duration);
            }
        }

        .button-f-4:hover {
            background-color: var(--color-grey);
            transition-duration: var(--transition-duration);
            border-radius: 50%;
        }
    }

    .block-latest {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-inline: 94px;
        margin-top: 39px;
        column-gap: 40px;
        padding-bottom: 122px;
        border-bottom: 1px solid;

        .block-1 {
            width: 845px;
        }
    }

    .block-button {
        margin-top: 27px;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 10px;

        .block-p {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 11px;
            line-height: 1;
            text-transform: uppercase;
        }

        .block-b {
            @include button;
            width: 60px;
        }

        .block-b:hover {
            color: var(--color-light);
            background-color: var(--color-grey);
            border: none;
            transition-duration: var(--transition-duration);
        }
    }

    .block-1-h2 {
        margin-top: 9px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 37px;
        line-height: 1.2;
        text-transform: uppercase;
        border-bottom: 1px solid;
    }

    .block-h2 {
        margin-top: 9px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 1.3;
        text-transform: uppercase;
        border-bottom: 1px solid;
        text-align: left;
    }

    .block-icard {
        margin-top: 80px;
    }

    .block-2icard {
        margin-top: 65px;
    }
 }

 .popular {
    .popular-div {
        @include flex-end-space-between;
        margin-left: 94px;
        margin-right: 440px;
        margin-top: 113px;

        .pop-div {
            @include flex-center;
            gap: 8px;
        }

        .pop-svg-1 {
            width: 18px;
            height: 19px;
        }

        .pop-svg-2 {
            width: 16px;
            height: 19px;
        }

        .pop-p {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 19px;
            line-height: 1;
            text-transform: uppercase;
        }
    }

    .popular-block {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-left: 94px;
        margin-top: 37px;
        column-gap: 40px;
        margin-bottom: 140px;

        .block-button {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 10px;
            margin-top: 24px;
        }

        .block-p {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 11px;
            line-height: 1;
            text-transform: uppercase;
        }

        .block-b {
            @include button;
            width: 56px;
        }

        .block-1-h2 {
            margin-top: 8px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 37px;
            line-height: 1.2;
            text-transform: uppercase;
            border-bottom: 1px solid;
        }

        .pop-img {
            width: 630px;
            height: 470px;
        }

        .block-b:hover {
            @include button-hover;
        }
    }

    .pop-card {
        margin-top: 37px;
    }

    .pop-h2 {
        width: 236px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 1.3;
        text-transform: uppercase;
        border-bottom: 1px solid;
        margin-top: 5px;
    }
 }

 .jenny {
    background: url(/images/jenny-img.png) center/cover no-repeat;

    .jenny-block {
        padding-top: 51px;
        margin-left: 74px;
        padding-bottom: 46px;

        .jenny-block-button {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 10px;
        }

        .jenny-desc {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 11px;
            line-height: 1;
            text-transform: uppercase;
        }

        .jenny-b {
            @include button;
            width: 66px;
        }

        .jenny-b:hover {
            @include button-hover;
        }

        .jenny-title {
            width: 516px;
            margin-top: 11px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 77px;
            line-height: 1.1;
            text-transform: uppercase;
            border-bottom: 1px solid;
        }

        .jenny-dsecription {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 1.3;
            margin-top: 351px;
        }
    }
 }

 .stuff {
    .stuff-div {
        @include flex-end-space-between;
        margin-top: 145px;
        margin-inline: 94px;

        .stuff-div-button {
            @include flex-center;
            gap: 8px;

            .stuff-button {
                @include flex-center;
                background-color: transparent;
                border: none;
            }

            @keyframes rotate {
               50% {
                    rotate: 180deg;
                }
            }

            .stuff-svg {
                width: 19px;
                aspect-ratio: 1;
            }

            .stuff-svg:hover {
                animation: rotate 2s;
                transition-duration: var(--transition-duration);
                color: var(--color-grey);
            }
        }

        .stuff-desc {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 19px;
            line-height: 1x;
            text-transform: uppercase;
        }

        .stuff-link {
            color: var(--color-dark);
            padding-bottom: 2px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 19px;
            line-height: 1;
            text-transform: uppercase;
            text-decoration: none;
            border-bottom: 1px solid;
        }

        .stuff-link:hover {
            color: var(--color-grey);
            transition-duration: var(--transition-duration);
        }
    }

    .stuff-block {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        margin-top: 37px;
        margin-inline: 104px;

        .stuff-card {
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .desc-block {
                margin-top: 23px;
                width: 222px;
            }

            .stuff-button-block {
                @include button;
                width: 66px;
            }

            .stuff-button-block:hover {
                @include button-hover;
            }
        }

        .stuff-description {
            margin-top: 17px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 19px;
            line-height: 1.3;
            text-transform: uppercase;
            border-bottom: 1px solid;
        }
    }

    .stuff-title {
        margin-top: 125px;
        margin-inline: 94px;
        padding-block: 32px;
        text-align: center;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 100px;
        line-height: 1;
        text-transform: uppercase;
        border-block: 2px solid;
    }
 }

 .footer {
    .footer-block {
        @include flex-center;
        margin-top: 180px;

        .footer-list {
            @include flex-center;
            gap: 35px;
            padding-bottom: 35px;
            padding-inline: 42px;
            border-bottom: 1px solid;

            .footer-link {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 1.7;
                text-transform: uppercase;
                text-decoration: none;
                color: var(--color-dark);
            }

            .footer-link:hover {
                color: var(--color-grey);
                transition-duration: var(--transition-duration);
            }
        }
    }

    .footer-contacts {
        @include flex-center;
        margin-top: 30px;

        .contact-list {
            @include flex-center;
            gap: 30px;

            .contact-link {
                color: var(--color-dark);
                padding: 10px;
            }

            .svg-footer {
                width: 17px;
                aspect-ratio: 1;
            }

            .contact-link:hover {
                color: var(--color-grey);
                transition-duration: var(--transition-duration);
            }
        }
    }

    .footer-cont {
        @include flex-center;
        margin-top: 55px;
        gap: 5px;
        padding-bottom: 48px;

        .footer-desc {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 11px;
            line-height: 1;
            text-transform: uppercase;
            color: var(--color-grey);
        }

        .footer-link-cont {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 11px;
            line-height: 1;
            text-transform: uppercase;
            color: var(--color-dark);
        }

        .footer-link-cont:hover {
            color: var(--color-grey);
            transition-duration: var(--transition-duration);
        }
    }
 }

 @media (max-width: 1600px) {
    .john-div .john-title {
        font-size: 4vw;
    }
    .latest .block-latest .block-1 {
        width: 44vw;
    }
    .popular .popular-block .pop-img {
        width: auto;
        height: auto;
    }
    .latest .block-h2 {
        font-size: 1.5vw;
    }
    .stuff .stuff-title {
        font-size: 5.2vw;
    }
 }

 @media (max-width: 1376px) {
    .header-img {
        width: 30vw;
    }
    .john-div .john-description {
        margin-top: 33vh;
    }
    .popular .popular-div {
        margin-right: 20.5vw;
    }
    .stuff .stuff-block {
        grid-template-columns: repeat(3, 1fr);
    }
 }

 @media (max-width: 1000px) {
    .header-div {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 20px;
    }
    .john-div {
        flex-direction: column;
        row-gap: 20px;
    }
    .latest .block-latest {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
    }
    .popular .popular-block {
        grid-template-columns: repeat(2, 1fr);
        margin-inline: 94px;
        row-gap: 20px;
    }
    .popular .popular-block .block-1-h2 {
        font-size: 2.5vw;
    }
    .pop-trends {
       display: block;
    }
    .popular .popular-div {
        margin-left: 0px;
        margin-right: 0px;
        margin-inline: 94px;
    }
    .popular .pop-h2 {
        width: auto;
    }
    .stuff .stuff-block {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
    }
    .latest .block-h2 {
        font-size: 1.9vw;
    }
    .latest .block-1-h2 {
        font-size: 25px;
    }
 }

 @media (max-width: 748px) {
    .john-div .john-title {
        font-size: 8vw;
    }
    .header-div .header-list {
        flex-direction: column;
    }
    .john-div {
        justify-content: center;
        align-items: center;
    }
    .john-div .div-block {
        align-items: center;
    }
    .latest .filter {
        flex-direction: column;
    }
    .latest .block-latest {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .popular .popular-block {
        grid-template-columns: 1fr;
    }
    .stuff .stuff-block {
        grid-template-columns: 1fr;
    }
    .jenny .jenny-block .jenny-title {
        width: 60vw;
        font-size: 60px;
    }
    .header-img {
        width: 60vw;
    }
 }

 @media (max-width: 500px) {
    .latest .latest-post {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .latest .block-h2 {
        font-size: 2.9vw;
    }
    .footer .footer-block .footer-list {
        flex-direction: column;
    }
    .footer .footer-block {
        margin-top: 80px;
    }
    .popular .popular-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        row-gap: 10px;
    }
    .stuff .stuff-div {
        flex-direction: column;
        align-items: start;
        row-gap: 10px;
    }
    .latest .block-latest .block-1 {
        width: 54vw;
    }
    .jenny .jenny-block .jenny-title {
        font-size: 40px;
    }
    .stuff .stuff-block {
        margin-inline: 0px;
    }
 }

 @media (max-width: 350px) {
    .latest .block-latest .block-1 {
        width: 74vw;
    }
    .jenny .jenny-block {
        margin-left: 34px;
    }
    .latest .filter {
        margin-inline: 34px;
    }
    .latest .latest-post {
        margin-inline: 34px;
    }
    .latest .block-latest .block-2 {
        width: 74vw;
    }
    .latest .block-latest .block-3 {
        width: 74vw;
    }
    .popular .popular-div {
        margin-inline: 34px;
    }
    .popular .popular-block {
        margin-inline: 34px;
    }
    .john-div .john-description {
        margin-top: 13vh;
    }
    .latest .block-h2 {
        font-size: 5.8vw;
    }
    .popular .popular-block .block-1-h2 {
        font-size: 5.5vw;
    }
 }

