@import 
 "fontsface",
 "normalize",
 "variables",
 "globals",
 "mixins";

 .header-div {
    @include flex-space-betwen;
    margin-inline: 94px;
    padding-block: 35px;
    border-bottom: 2px solid var(--color-grey);

    .header-henrik {
        @include flex-center;
        gap: 7px;

        .svg-henrik {
            width: 25px;
            height: 28px;
        }

        .header-desc {
            font-size: 19px;
            line-height: 1.5;
            text-transform: uppercase;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
        }
    }

    .header-list {
        @include flex-center;
        gap: 35px;

        .header-link {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 1.7;
            text-transform: uppercase;
            text-decoration: none;
            color: var(--color-dark);
        }

        .header-link.is-current {
            border-bottom: 1.5px solid var(--color-dark);
        }

        .header-link:hover {
            color: var(--color-grey);
            transition-duration: var(--transition-duration);
        }
    }

    .link-info {
        text-decoration: none;
        color: var(--color-dark)
    }
    .link-info:hover {
        color: var(--color-grey);
        transition-duration: var(--transition-duration);
    }

    .header-info {
        @include flex-center;
        gap: 7px;

        .header-desc {
            font-size: 19px;
            line-height: 1.5;
            text-transform: uppercase;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
        }

        .svg-info {
            width: 26px;
            aspect-ratio: 1;
        }
    }
 }

 .john-div {
    @include flex-space-betwen;
    margin-inline: 94px;
    margin-top: 49px;
    padding-bottom: 49px;
    border-bottom: 2px solid var(--color-grey);

    .div-block {
        @include flex-direction;
    }

    .div-block-1 {
        @include flex-center;
        gap: 10px;

        .john-desc {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 11px;
            line-height: 1;
        }

        .john-button-1 {
            @include button;
        }
        .john-button-2 {
            @include button;
            width: 74px;
        }

        .john-button-1:hover {
            @include button-hover;
        }
        .john-button-2:hover {
            @include button-hover;
        }
    }

    .john-title {
        margin-top: 11px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 77px;
        line-height: 1.1;
        text-transform: uppercase;
        border-bottom: 1.5px solid var(--color-grey);
    }

    .john-description {
        margin-top: 291px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 1.3;
    }
 }

 .latest {
    .latest-post {
        @include flex-end-space-between;
        margin-inline: 94px;

        .svg-latest {
            @include flex-center;
            gap: 8px;
            margin-top: 100px;

            .svg-info {
                width: 17px;
                aspect-ratio: 1;
            }

            .latest-desc {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 19px;
                line-height: 1;
                text-transform: uppercase;
            }
        }

        .latest-link {
            color: var(--color-dark);
            text-decoration: none;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 19px;
            line-height: 1;
            text-transform: uppercase;
            padding-bottom: 2px;
            border-bottom: 1px solid;
        }

        .latest-link:hover {
            color: var(--color-grey);
            transition-duration: var(--transition-duration);
        }
    }

    .filter {
        @include flex-space-betwen;
        margin-inline: 94px;
        margin-top: 37px;

        .filter-1 {
            @include flex-center;
            gap: 10px;

            .filter-1-p {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 11px;
                line-height: 1;
                text-transform: uppercase;
            }

            .button-f-1 {
                @include button;
                color: var(--color-light);
                background-color: var(--color-dark)
            }
            .button-f-2 {
                @include button;
                width: 62px;
            }
            .button-f-3 {
                @include button;
                width: 55px;
            }

            .button-f-1:hover {
                background-color: var(--color-grey);
                border: none;
                transition-duration: var(--transition-duration);
            }

            .button-f-2:hover {
                @include button-hover;
            }
            .button-f-3:hover {
                @include button-hover;
            }
        }
    }

    .filter-2 {
        @include flex-center;
        gap: 10px;

        .filter-2-p {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 11px;
            line-height: 1;
            text-transform: uppercase;

            .filter-b {
                border-bottom: 1px solid;
            }
        }

        .button-f-4 {
            background-color: transparent;
            border: none;

            .svg-button {
                width: 15px;
                height: 8px;
            }

            .svg-button:hover {
                color: var(--color-light);
                transition-duration: var(--transition-duration);
            }
        }

        .button-f-4:hover {
            background-color: var(--color-grey);
            transition-duration: var(--transition-duration);
            border-radius: 50%;
        }
    }

    .block-latest {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-inline: 94px;
        margin-top: 39px;
        column-gap: 40px;
        padding-bottom: 122px;
        border-bottom: 1px solid;

        .block-1 {
            width: 845px;
        }
    }

    .block-button {
        margin-top: 27px;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 10px;

        .block-p {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 11px;
            line-height: 1;
            text-transform: uppercase;
        }

        .block-b {
            @include button;
            width: 60px;
        }

        .block-b:hover {
            color: var(--color-light);
            background-color: var(--color-grey);
            border: none;
            transition-duration: var(--transition-duration);
        }
    }

    .block-1-h2 {
        margin-top: 9px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 37px;
        line-height: 1.2;
        text-transform: uppercase;
        border-bottom: 1px solid;
    }

    .block-h2 {
        margin-top: 9px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 1.3;
        text-transform: uppercase;
        border-bottom: 1px solid;
        text-align: left;
    }

    .block-icard {
        margin-top: 80px;
    }

    .block-2icard {
        margin-top: 65px;
    }
 }

 .popular {
    .popular-div {
        @include flex-end-space-between;
        margin-left: 94px;
        margin-right: 440px;
        margin-top: 113px;

        .pop-div {
            @include flex-center;
            gap: 8px;
        }

        .pop-svg-1 {
            width: 18px;
            height: 19px;
        }

        .pop-svg-2 {
            width: 16px;
            height: 19px;
        }

        .pop-p {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 19px;
            line-height: 1;
            text-transform: uppercase;
        }
    }

    .popular-block {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-left: 94px;
        margin-top: 37px;
        column-gap: 40px;
        margin-bottom: 140px;

        .block-button {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 10px;
            margin-top: 24px;
        }

        .block-p {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 11px;
            line-height: 1;
            text-transform: uppercase;
        }

        .block-b {
            @include button;
            width: 56px;
        }

        .block-1-h2 {
            margin-top: 8px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 37px;
            line-height: 1.2;
            text-transform: uppercase;
            border-bottom: 1px solid;
        }

        .pop-img {
            width: 630px;
            height: 470px;
        }

        .block-b:hover {
            @include button-hover;
        }
    }

    .pop-card {
        margin-top: 37px;
    }

    .pop-h2 {
        width: 236px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 1.3;
        text-transform: uppercase;
        border-bottom: 1px solid;
        margin-top: 5px;
    }
 }

 .jenny {
    background: url(/images/jenny-img.png) center/cover no-repeat;

    .jenny-block {
        padding-top: 51px;
        margin-left: 74px;

        .jenny-block-button {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 10px;
        }

        .jenny-desc {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 11px;
            line-height: 1;
            text-transform: uppercase;
        }

        .jenny-b {
            @include button;
            width: 66px;
        }

        .jenny-b:hover {
            @include button-hover;
        }

        .jenny-title {
            width: 516px;
            margin-top: 11px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 77px;
            line-height: 1.1;
            text-transform: uppercase;
            border-bottom: 1px solid;
        }

        .jenny-dsecription {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 1.3;
            margin-top: 351px;
        }
    }
 }

